@import '../var.css';

.ProjectContainer {
  width: 48%;
  height: auto;
  margin: 1%;
  opacity: 0.4;
  transition: 0.2s;
}

.ProjectContainer .imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.ProjectContainer:hover {
  opacity: 1;
}

.ProjectContainer h1 {
  font-size: var(--header-font);
}

.ProjectContainer p {
  font-size: var(--desc-font);
}

.ProjectContainer .inView {
  animation: InView 500s
}

.ProjectContainer .leaveView {
  animation: LeaveView 500s
}

@keyframes InView {
  from {
    transform: translateY(200px);
    opacity: 0;
  }

  to {
    transform: translateY((0));
    opacity: 1
  }
}

@keyframes LeaveView {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 700px) {
  .ProjectContainer {
    width: 90%;
    height: auto;
    margin-bottom: -50px;
    opacity: 1;
  }

  .ProjectContainer .imgContainer img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }

  .ProjectContainer h1 {
    font-size: var(--header-phone-font);
  }

  .ProjectContainer p {
    position: relative;
    top: -50px;
    font-size: var(--desc-phone-font);
  }
}