@import '../var.css';

.NavBar {
  width: 445px;
  height: 30px;
  font-size: var(--nav-font);
  font-weight: var(--font-bold);
  position: sticky;
  position: -webkit-sticky;
  background-color: white;
  top: 0;
}

.NavBar ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.NavBar ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 111.25px;
  transition: 0.4s;
}

.NavBar ul li:hover {
  color: white;
  background-color: black;
}

@media screen and (min-width: 320px) and (max-width: 700px) {
  .NavBar {
    width: 320px;
    height: 30px;
    font-size: var(--nav-phone-font);
    font-weight: var(--font-bold);
    background-color: white;
    position: sticky;
  }

  .NavBar ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: calc(320px/4);
    transition: 0.4s;
  }

  .NavBar ul li:hover {
    color: white;
    background-color: black;
  }
}