:root {
  --header-font: 32px;
  --desc-font: 20px;
  --nav-font: 24px;
  --home-background: 'fffffff';
  --about-background: '838383';
  --font-bold: 700;
  --font-regular: 400;
  --black-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
  --white-shadow: rgba(255, 255, 255, 0.2) 0px 2px 8px 0px;

  --x-sign-opacity: 0.1;

  --reset: {
    margin: 0;
    padding: 0;
  }

  --content-body: {
    width: 80%
  }

  --flex-center: {
    display: flex;
    justify-content: center;
    align-items: center
  }
}